.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: #faf6f6;

  p {
    padding: 10px;
  }

  .photo {
    background-image: url('../assets/img/photo.jpg');

    background-size: 300px;
    width: 300px;
    height: 300px;
  }
}

