@import "header";
@import "about";
@import "mySkills";
@import "myWorks";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  max-width: 940px;
  height: auto;
  margin: 0 auto;
  padding: 10px;
}
main .container {
  padding-top: 89px;
}

